.pageContainer {
  padding: 2rem;
  max-width: 70rem;
}

.mainTextSectionTitle {
  font-family: Fredoka One;
  font-size: 2rem;
  margin-bottom: 0;
}

.secondHeadingText {
  font-family: Inter;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.paragraphText {
  font-family: Inter;
  font-size: 1rem;
}

.bulletedList {
  margin-top: 0;
}
